.custom-carousel-container {
    width: 70vw;
    margin: 2rem auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  .carousel-img {
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
    border-radius: 20px;
  }
  